<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net481" />
  <package id="NLog" version="5.3.2" targetFramework="net481" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net481" />
  <package id="NLog.Extensions.Logging" version="5.3.11" targetFramework="net481" />
  <package id="NLog.Schema" version="4.7.15" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net481" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net481" />
</packages>